ABMLPersona/WinFormsABMLPersona/Connected Services/WebServicePersona/ModelABMLPersona.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ModelABMLPersona" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelABMLPersona" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersona" nillable="true" type="tns:ArrayOfPersona" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
</xs:schema>