ABMLPersona/WinFormsABMLPersona/Connected Services/WebServicePersona/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelABMLPersona" />
  <xs:element name="ListadoPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelABMLPersona" minOccurs="0" name="ListadoPersonasResult" nillable="true" type="q1:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Existe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grabar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Borrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelABMLPersona" minOccurs="0" name="BuscarPersonaResult" nillable="true" type="q2:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreAModificar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevoNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>